.boxVirtualDartBoard {
  position: relative;
}

.virtualDartBoard {
  position: absolute;
  z-index: 1; /* put .gold-box above .green-box and .dashed-box */
  background: rgb(4, 255, 0);
  width: 100%;
  max-width: "600px";
}
.dartPosition {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
}
.test {
  position: absolute;
  z-index: 3;
  border: dashed;
}
